@model _11Validations.Models.User
@{
    ViewData["Title"] = "Result";
}

<h1>Result View</h1>
<br />
<br/>

<h5 class="text-uppercase text-danger">Your name is : @Model.Name</h5>
<h5 class="text-uppercase text-danger">Your email is : @Model.Email</h5>
<h5 class="text-uppercase text-danger">Your Age is : @Model.Age</h5>
<h5 class="text-uppercase text-danger">Your password is : @Model.Password</h5>
<h5 class="text-uppercase text-danger">Your mobile no is : @Model.MobileNo</h5>
<h5 class="text-uppercase text-danger">Your website URL is : @Model.WebSiteURL</h5>
<h5 class="text-uppercase text-info">Your query is : @Model.Query</h5>

